.DS_Store

day2/obj/
day2/lib/
day2/alire/
day2/config/
day2/bin

day3/bin/
day3/obj/

day4/_build
day4/day4.install

day5/.stack-work/
day5/*~
day5/rust/solution

day6/target
day6/classes
day6/checkouts
day6/profiles.clj
day6/pom.xml
day6/pom.xml.asc
day6/*.jar
day6/*.class
day6/.lein-*
day6/.nrepl-port
day6/.prepl-port
day6/.hgignore
day6/.hg/

day7/.DS_Store

day8/solution

day9/project
day9/target
day9/.metals
day9/.bsp

day10/day10

day11/a.out

day14/.dub
day14/docs.json
day14/__dummy.html
day14/docs/
day14/day14
day14/day14.so
day14/day14.dylib
day14/day14.dll
day14/day14.a
day14/day14.lib
day14/day14-test-*
day14/*.exe
day14/*.o
day14/*.obj
day14/*.lst

day15/rust/target
